<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>PublisherID</Key>
            <Value>627396d59dead2d65fd9c2b28490bc68</Value>
          </Property>
        </Metadata>
        <Name>MobFox</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Name>MobFox</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-5614A183-40C0-4B8E-96FB-AE1E8643FE94</Id>
        <Name>AdMediatorCtrl1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>PublisherID</Key>
            <Value>fe96717d9875b9da4339ea5367eff1ec</Value>
          </Property>
        </Metadata>
        <Name>MobFox</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Name>MobFox</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-5614A183-40C0-4B8E-96FB-AE1E8643FE94</Id>
        <Name>AdMediatorCtrl1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2014-12-20T14:08:30.9857359Z</UpdatedDateTime>
</AdMediatorConfiguration>